
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");


.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo_image {
padding: 100px 0 0 0px;
}

.logo-image img {
  margin: 20px 0 20px 555px;
  width: 310px;
}


.header_pages {
  height: 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 62px;
}
.header_pages a {
  width: 62px;
  height: 100%;
  color: #363636;
}
.header_pages a i {
  margin: auto;
  font-size: 1.3rem;
}
.header_pages h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-weight: 500;
  font-size: 1.9rem;
}




/*--presentation--*/

.presentation {
  padding: 40px 25px 55px;
  background-color: whitesmoke;
  text-align: center;
}
.presentation h2 {
  margin-bottom: 15px;
}
.presentation p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.1rem;
}


.location {
  padding: 35px;
  background-color: #ebebeb;
  color: #000000;
  -webkit-box-shadow: inset 0 5px 4px -2px #cccccc;
          box-shadow: inset 0 5px 4px -2px #cccccc;
}
.location i {
  font-size: 25px;
  margin: auto;
  text-align: center;
}
.location p {
  margin: auto;
  font-size: 25px;
}



/*--section-Fonctions--*/

.function {
  margin: auto;
  
}

.function h2 {
  font-size: 30px;
    margin: 30px 0 30px 500px;
}

.function h2::before, .function h2::after {
  content: "";
  display: inline-block;
  background-color: #9356DC;
  height: 2px;
  width: 90px;
  vertical-align: middle;
  margin: 0 10px;
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin-right: 10px;
  border-radius: 1.5rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: -o-linear-gradient(280deg, #FF79DA, #a16be0);
  background: linear-gradient(170deg, #FF79DA, #a16be0);
  -webkit-box-shadow: 0 3px 8px #c2c2c2;
  box-shadow: 0 3px 8px #c2c2c2;
  cursor: pointer;
}
.btn a {
  color: #fff;
}
.btn--search {
  padding: 22px 45px;
}
.btn:hover {
  background: -o-linear-gradient(280deg, #ffa2e5, #a978e3);
  background: linear-gradient(170deg, #ffa2e5, #a978e3);
  -webkit-box-shadow: 0 3px 8px darkgray;
          box-shadow: 0 3px 8px darkgray;
}






/*--!functions--*/

.functions-tab {
  display: flex;
    margin: 0px 0px 0px 130px;
}

.step {
  
  margin: 0px 25px 30px 0px;
    align-items: center;
    -webkit-box-align: center;
  -webkit-box-align: center;        
          -ms-flex-align: center;  
}

.step__number {
  
  height: 32px;
  width: 32px;
  background-color: #9356DC;
  color: #fff;
  margin: 40px 0px 30px -15px;
  border-radius: 1rem;
  z-index: 2;
  font-size: 20px;
  position: absolute;
}

.step__number span {
  margin: auto;
}

.step__text {
    padding: 45px 90px 35px 10px;
    background-color: #f5f5f5;
    border-radius: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    -webkit-box-shadow: 0 3px 8px #c2c2c2;
    box-shadow: 0 3px 8px #c2c2c2;
    position: relative;

}
.step__text i {
  color: #7D7D7D;
    margin: -2px 25px 0 35px;
}
.step__text:hover {
  background-color: #f4eefc;
}
.step__text:hover i {
  color: #9356DC;
}


/*--restaurants-section--*/

.restaurants {
  background-color: #fff;
}
.restaurants h2 {
  font-size: 30px;
  margin: 35px 0px -90px 525px;
}

.restaurants h2::before, .restaurants h2::after {
  content: "";
  display: inline-block;
  background-color: #9356DC;
  height: 2px;
  width: 90px;
  vertical-align: middle;
  margin: 0 10px;
}


.restaurants-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px -30px 30px -30px;
  padding: 120px 60px 0px 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.resto-prev {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 370px;
  width: 49%;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 18px;
  -webkit-box-shadow: 0 3px 8px #c2c2c2;
          box-shadow: 0 3px 8px #c2c2c2;
}
.resto-prev__image {
  height: 70%;
  position: relative;
}
.resto-prev__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.resto-prev__image .brand {
  position: absolute;
  right: 12px;
  top: 13px;
  background-color: #99E2D0;
  color: #008000;
  padding: 6px 11px;
  border-radius: 1px;
  font-weight: 500;
  font-size: 0.9rem;
}
.resto-prev__explanation {
  height: 30%;
  background-color: #fff;
}
.resto-prev__explanation .textexplanation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 13px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
}
.resto-prev__explanation .textexplanation .restaurantName {
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;
}
.resto-prev__explanation .textexplanation .restaurantName + p {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}
.resto-prev__explanation .heartexplanation {
  width: 77px;
}
.resto-prev__explanation .heartexplanation .emptyHeart {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 150ms 50ms ease;
  -o-transition: color 150ms 50ms ease;
  transition: color 150ms 50ms ease;
}
.resto-prev__explanation .heartexplanation .emptyHeart:hover {
  color: transparent;
}
.resto-prev__explanation .heartexplanation .emptyHeart:hover > .fullHeart {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.resto-prev__explanation .heartexplanation .fullHeart {
  position: absolute;
  top: 0;
  left: 0;
  background: -o-linear-gradient(280deg, #FF79DA, #9356DC);
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: -webkit-transform 150ms 50ms ease-in-out;
  -o-transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out, -webkit-transform 150ms 50ms ease-in-out;
}
.resto-prev__explanation .heartexplanation .emptyHeart {
  margin: auto;
}


.restaurant {
  border-radius: 2rem 2rem 0 0;
  padding: 30px 14px 40px;
  background-color: #F5F5F5;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}
.restaurant h2 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 500;
}
.restaurant h3 {
  margin: 30px 0 0 6px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
.restaurant h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.restaurant_name {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 20px;
}
.restaurant_name .emptyHeart {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 150ms 50ms ease;
  -o-transition: color 150ms 50ms ease;
  transition: color 150ms 50ms ease;
}
.restaurant_name .emptyHeart:hover {
  color: transparent;
}
.restaurant_name .emptyHeart:hover > .fullHeart {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.restaurant_name .fullHeart {
  position: absolute;
  top: 0;
  left: 0;
  background: -o-linear-gradient(280deg, #FF79DA, #9356DC);
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: -webkit-transform 150ms 50ms ease-in-out;
  -o-transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out, -webkit-transform 150ms 50ms ease-in-out;
}
.restaurant .btn {
  display: block;
  margin: auto;
  margin-top: 50px;
}



/*--footer--*/


footer {
  background-color: #363636;
  color: #fff;
  padding: 20px 90px 30px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
    font-weight: 400;
    margin-bottom: 13px;
    font-size: 20px;
}

ul {
  margin-left: -38px;
  font-family: "Roboto", sans-serif;
}


a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}


footer a {
  color: #fff;
  line-height: 1.7rem;
}
footer a i {
  font-size: 0.8rem;
  width: 9px;
  margin-right: 10px;
}
  
  
  


/*--start-MQ--800px--*/

@media screen and (max-width: 800px) {
  .btn {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .header_homepage img {
    width: 210px;
  }

  .logo-image img {
    margin: 20px 0 20px 100px;
    width: 300px;
  }


  .header_pages h1 {
    font-size: 2.4rem;
  }

  .presentation {
    font-size: 1.2rem;
  }



  .location {
    font-size: 1.2rem;
  }



  .function h2 {
    font-size: 30px;


  }
  

  .function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .function h2 {
    font-size: 30px;
    margin: 45px 236px 20px 0px;
  }
  
  .function h2::before, .function h2::after {
    content: "";
    display: none;
  }

  .functions-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .step {
    margin: 0px 25px 30px 15px;
  }
  .step__number {
    font-size: 25px;
    
  }
  .step__text {
    padding: 45px 147px 35px 4px;
    font-size: 20px;
  }
  .step__text i {
    font-size: 1.4rem;
  }



  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants .restaurants-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 112px 0px 0px 0px;
    margin: 6px 20px 0px 18px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   
  }
  .restaurants h2 {
    padding: 0px 0px 0px 0px;
    margin: 30px 335px -100px 30px;
  }

    .restaurants h2::before, .restaurants h2::after {
      content: "";
      display: none;
 
  }


  .restaurants-container {

  }


  .resto-prev {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 370px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 3px 8px #c2c2c2;
    box-shadow: 0 3px 8px #c2c2c2;
  }
  .resto-prev__image {
    height: 70%;
    position: relative;
  }

  footer{
    padding: 20px 90px 30px 20px;
  }

  footer h3 {
    font-size: 1.3rem;
  }
  footer a {
    font-size: 1.1rem;
  }
  footer a i {
    font-size: 1rem;
  }

  body, ul {
    margin: 0px 0px 0px -13px;
    padding: 2px 0px 0px 15px;
    font-family: "Roboto", sans-serif;
  }


  /*--backgroundPictures--*/
  





}




