@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");





body, ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 3;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-color: rgba(245, 245, 245, 0.5);
  -webkit-animation: load-background 3s 100ms backwards;
  animation: load-background 3s 100ms backwards;
}

.loading .spinner {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  font-size: 8rem;
  color: #9356DC;
  margin: auto;
  -webkit-animation: load-spinner 3s 100ms linear backwards;
  animation: load-spinner 3s 100ms linear backwards;
}

@-webkit-keyframes load-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    opacity: 0.75;
  }
  100% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 0;
  }
}

@keyframes load-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    opacity: 0.75;
  }
  100% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 0;
  }
}

@-webkit-keyframes load-background {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 100vh;
    width: 100vw;
  }
}
@keyframes load-background {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 100vh;
    width: 100vw;
  }
}




/*--placement--*/

.placement {
  height: 50px;
  background-color: #ebebeb;
  color: #363636;
  -webkit-box-shadow: inset 0 5px 4px -2px #cccccc;
          box-shadow: inset 0 5px 4px -2px #cccccc;
}
.placement i {
  margin-right: 15px;
}
.placement p {
  margin: auto;
}
@media screen and (min-width: 600px) {
  .placement {
    font-size: 1.2rem;
  }
}



/*--presentation--*/


.presentation {
  padding: 40px 25px 55px;
  background-color: #f5f5f5;
  text-align: center;
}
.presentation h2 {
  margin-bottom: 15px;
}
.presentation p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 1.1rem;
}
@media screen and (min-width: 600px) {
  .presentation {
    font-size: 1.2rem;
  }
}


/*--Button-presentation--*/

.btn {
  
    font-family: "Roboto", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 55px;
    padding: 0 49px;
    border: none;
    border-radius: 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    background: -o-linear-gradient(280deg, #FF79DA, #a16be0);
    background: linear-gradient(175deg, #FF79DA, #a16be0);
    -webkit-box-shadow: 0 3px 8px #c2c2c2;
    box-shadow: 0 4px 9px #c2c2c2;
    cursor: pointer;
    transition: transform 330ms ease-in-out ;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transform: translate3d(1);
    transition: opacity 250ms;

}

.btn a {
  color: #fff;
}

.btn--search {
  padding: 17px 25px;
}

.btn:hover {
  background: -o-linear-gradient(280deg, #ffa2e5, #a978e3);
  background: linear-gradient(170deg, #ffa2e5, #a978e3);
  -webkit-box-shadow: 0 3px 8px #a9a9a9;
          box-shadow: 0 3px 8px #a9a9a9;
          transform: scale(1.13);
          transition-delay: 150ms;
          opacity: 1.15;


}

@media screen and (min-width: 600px) {
  .btn {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
            transition: all 450ms;

  }
}


/*--functions--*/


.function {
  padding: 50px 20px 65px;
}
@media screen and (min-width: 600px) {
  .function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .function h2 {
    font-size: 1.9rem;
  }
  .function h2::before, .function h2::after {
    content: "";
    display: inline-block;
    background-color: #9356DC;
    height: 2px;
    width: 75px;
    vertical-align: middle;
    margin: 0 10px;
  }
}
.function h2 {
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {

  .function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
  }

  .function h2 {
    font-size: 1.9rem;
  }
  .function h2::before, .function h2::after {
    content: "";
    display: inline-block;
    background-color: #9356DC;
    height: 3px;
    width: 80px;
    vertical-align: middle;
    margin: 0 10px;
  }
}

.functions-tab {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .functions-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .functions-tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.functions-tab {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .functions-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .functions-tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.step {
  height: 85px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.step__number {
  background-color: #9356DC;
  height: 28px;
  width: 28px;
  color: #fff;
  border-radius: 1rem;
  z-index: 2;
  font-size: 0.9rem;
}
.step__number span {
  margin: auto;
}
.step__text {
  position: relative;
  left: -12px;
  background-color: whitesmoke;
  border-radius: 1.1rem;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 600;
  -webkit-box-shadow: 0 3px 8px #c2c2c2;
          box-shadow: 0 3px 8px #c2c2c2;
}
.step__text i {
  width: 21px;
  color: #7D7D7D;
  margin: 0 25px 0 30px;
  font-size: 1.2rem;
}
.step__text:hover {
  background-color: #f9e6ff;
}
.step__text:hover i {
  color: #9356DC;
}
@media screen and (min-width: 600px) {
  .step {
    width: 80%;
  }
  .step__number {
    font-size: 1.1rem;
  }
  .step__text {
    font-size: 1.2rem;
  }
  .step__text i {
    font-size: 1.4rem;
  }
}



/*--menu-plates--*/

/*--@keyframes-nth-of-type--*/

@-webkit-keyframes menu-load {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  
  75% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes menu-load {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

.plates:nth-of-type(1) {                       
  -webkit-animation: menu-load 800ms 200ms forwards;
          animation: menu-load 800ms 200ms forwards;
}
.plates:nth-of-type(2) {
  -webkit-animation: menu-load 800ms 400ms forwards;
          animation: menu-load 800ms 400ms forwards;
}
.plates:nth-of-type(3) {
  -webkit-animation: menu-load 800ms 600ms forwards;
          animation: menu-load 800ms 600ms forwards;
}
.plates:nth-of-type(4) {
  -webkit-animation: menu-load 800ms 800ms forwards;
          animation: menu-load 800ms 800ms forwards;
}



/*--plates--*/

.plates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 14px;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px #c2c2c2;
  box-shadow: 0 3px 8px #c2c2c2;
  padding: 0;
  position: relative;
  opacity: 0;
}

.plates__text {
  width: 80%;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: width 300ms 100ms linear;
  -o-transition: width 300ms 100ms linear;
  transition: width 300ms 100ms linear;
  padding: 18px 0 15px 12px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.plates__text .plate_name {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 5px;
  white-space: nowrap;
}
.plates__text p {
  margin: 0;
  font-weight: 300;
  font-size: 0.95rem;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.plates__price {
  -ms-flex-item-align: flex-end;
  align-self: flex-end;
  color: #363636;
  font-weight: 700;
  position: absolute;
  right: 15px;
  bottom: 15px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  -o-transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}
.plates .animation__checking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99E2D0;
  width: 72px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  -o-transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}
.plates .animation__checking .anim_icon {
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 300ms 100ms linear;
  transition: -webkit-transform 300ms 100ms linear;
  -o-transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear;
  transition: transform 300ms 100ms linear, -webkit-transform 300ms 100ms linear;
}
.plates:hover {
  cursor: pointer;
}
.plates:hover .plates__text {
  width: 60%;
}
.plates:hover .plates__text .plate_name, .plates:hover .plates__text p {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.plates:hover .animation__checking {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.plates:hover .anim_icon {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.plates:hover .plates__price {
  -webkit-transform: translateX(-72px);
      -ms-transform: translateX(-72px);
          transform: translateX(-72px);
}





.logo-image {
  height: 62px;
}
.logo-image img {
  margin: auto;
  width: 162px;
}
@media screen and (min-width: 600px) {
  .logo-image img {
    width: 210px;
  }
}



/*--header--*/

.header_pages {
  height: 62px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 62px;
}

.header_pages a {
  width: 62px;
  height: 50%;
  color: #363636;
}

.header_pages a i {
  margin: auto;
  font-size: 1.4rem;
}

.header_pages h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-weight: 500;
  font-size: 1.9rem;
}
@media screen and (min-width: 600px) {
  .header_pages h1 {
    font-size: 2.4rem;
  }
}

footer {
  background-color: #363636;
  color: #fff;
  padding: 20px 25px 30px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 13px;
  font-size: 1.1rem;
}
footer a {
  color: #fff;
  line-height: 1.7rem;
}
footer a i {
  font-size: 0.8rem;
  width: 9px;
  margin-right: 10px;
}
@media screen and (min-width: 600px) {
  footer h3 {
    font-size: 1.3rem;
  }
  footer a {
    font-size: 1.1rem;
  }
  footer a i {
    font-size: 1rem;
  }
}





.restaurants {
  padding: 55px 20px 45px;
  background-color: whitesmoke;
}
.restaurants h2 {
  margin-bottom: 22px;
}
@media screen and (min-width: 600px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants .restaurants-container  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .restaurants h2 {
    font-size: 1.9rem;
    margin-bottom: 30px;
  }
  .restaurants h2::before, .restaurants h2::after {
    content: "";
    display: inline-block;
    background-color: #9356DC;
    height: 2px;
    width: 75px;
    vertical-align: middle;
    margin: 0 10px;
  }
}

.resto-prev {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 250px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 18px;
  -webkit-box-shadow: 0 3px 8px #c2c2c2;
          box-shadow: 0 3px 8px #c2c2c2;
}
.resto-prev__image {
  height: 70%;
  position: relative;
}
.resto-prev__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.resto-prev__image .brand {
  position: absolute;
  right: 12px;
  top: 13px;
  background-color: #99E2D0;
  color: #008000;
  padding: 6px 11px;
  border-radius: 1px;
  font-weight: 500;
  font-size: 0.9rem;
}
.resto-prev__explanation {
  height: 30%;
  background-color: #fff;
}
.resto-prev__explanation .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 13px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
}
.resto-prev__explanation .text .Naming {
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;
}
.resto-prev__explanation .text .Naming + p {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}
.resto-prev__explanation .text-heart {
  width: 77px;
}
.resto-prev__explanation .text-heart .emptyHeart {
  margin: auto;
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 150ms 50ms ease;
  -o-transition: color 150ms 50ms ease;
  transition: color 150ms 50ms ease;
}
.resto-prev__explanation .text-heart .emptyHeart:hover {
  color: transparent;
}
.resto-prev__explanation .text-heart .emptyHeart:hover > .fullHeart {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.resto-prev__explanation .text-heart .fullHeart {
  position: absolute;
  top: 0;
  left: 0;
  background: -o-linear-gradient(280deg, #FF79DA, #9356DC);
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: -webkit-transform 150ms 50ms ease-in-out;
  -o-transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out, -webkit-transform 150ms 50ms ease-in-out;
}


@media screen and (min-width: 600px) {
  .resto-prev {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .resto-prev {
    height: 350px;
  }
  .resto-prev__image {
    height: 75%;
  }
  .resto-prev__explanation {
    height: 25%;
  }
}

.principal {
  background-color: #F5F5F5;
}

.picture {
    height: 245px;
}

.picture.palette_du_gout {
    background: url("../../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg")center/cover;
  }
  .picture.note_enchantee {
    background: url("../../images/stil-u2Lp8tXIcjw-unsplash.jpg")center/cover;
  }
  .picture.a_la_francaise {
    background: url("../../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center/cover;
  }
  .picture.delice_des_sens {
    background: url("../../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center/cover;
  }

  
.choosing {
  border-radius: 2rem 2rem 0 0;
  padding: 30px 14px 40px;
  background-color: #F5F5F5;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}
.choosing h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 500;
}
.choosing h3 {
  margin: 30px 0 0 6px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
.choosing h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.restaurant_name {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 20px;
}
.restaurant_name .emptyHeart {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 150ms 50ms ease;
  -o-transition: color 150ms 50ms ease;
  transition: color 150ms 50ms ease;
}
.restaurant_name .emptyHeart:hover {
  color: transparent;
}
.restaurant_name .emptyHeart:hover > .fullHeart {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.restaurant_name .fullHeart {
  position: absolute;
  top: 0;
  left: 0;
  background: -o-linear-gradient(280deg, #FF79DA, #9356DC);
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: -webkit-transform 150ms 50ms ease-in-out;
  -o-transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out, -webkit-transform 150ms 50ms ease-in-out;
}
.choosing .btn {
  display: block;
  margin: auto;
  margin-top: 50px;
}
@media screen and (min-width: 1024px) {
  .choosing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .choosing .restaurant_name {
    width: 100%;
  }
  .choosing .menu {
    width: 32%;
  }
}
