.principal{
    background-color: $gray;
}

.picture{
    height: 240px;
    &.palette_du_gout{
        @include restaurant-bg-picture(palette-du-gout);
    }
    &.note_enchantee{
        @include restaurant-bg-picture(note-enchantee);
    }
    &.a_la_francaise{
        @include restaurant-bg-picture(a-la-francaise);
    }
    &.delice_des_sens{
        @include restaurant-bg-picture(delice-des-sens);
    }
}

.choosing{
    background-color: $gray;
    padding: 35px 15px 35px;
    border-radius: 2rem 2rem 0 0;
    transform: translateY(-30px);

    h2{
        font-family: "Shrikhand", cursive;
        font-weight: 500;
        font-size: 1.9rem;
    }
    h3{
        text-transform: uppercase;
        font-size: 1rem;
        margin: 30px 0px  0px;
        font-weight: 300;
        &::after{
            display: block;
            background-color: $tertiary-color;
            width: 40px;
            margin-top: 5px;
            height: 3px;
            content: "";
        }
    }
    &_name{
        margin-right: 10px;
        justify-content: space-between;
        align-items: baseline;
        @include heart-transition;
    }
    .btn{
        display: block;
        padding: 18px 50px;
        margin: auto;
        margin-top: 50px;
    }
    @include breakpoints(desktop){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .restaurant_name{
            width: 100%;
        }
        .menu{
            width: 32%;
        }
    }
}