/*--general-regulation-code--*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

/*--display-flex-all--*/
.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

/*--body-&-ul--*/
body, ul {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(245, 245, 245, 0.5);
  -webkit-transform: scale(0);
          transform: scale(0);
  position: fixed;
  z-index: 3;
  -webkit-animation: load-background 3s 100ms backwards;
          animation: load-background 3s 100ms backwards;
}

.loading .spinner {
  -webkit-transform: scale(0);
          transform: scale(0);
  color: #9356DC;
  margin: auto;
  font-size: 8rem;
  -webkit-animation: load-spinner 3s 100ms linear backwards;
          animation: load-spinner 3s 100ms linear backwards;
}

@-webkit-keyframes load-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    opacity: .75;
  }
  100% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 0;
  }
}

@keyframes load-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    opacity: .75;
  }
  100% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 0;
  }
}

@-webkit-keyframes load-background {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 100vh;
    width: 100vw;
  }
}

@keyframes load-background {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 100vh;
    width: 100vw;
  }
}

.btn {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 17px 22px;
  font-weight: 500;
  border-radius: 1.5rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#a674e2));
  background: linear-gradient(180deg, #FF79DA, #a674e2);
  -webkit-box-shadow: 0 3px 8px #c2c2c2;
          box-shadow: 0 3px 8px #c2c2c2;
}

.btn .btn:hover {
  background: linear-gradient(150deg, #ffdff6, #c9abee);
  -webkit-box-shadow: 0 3px 8px darkgray;
          box-shadow: 0 3px 8px darkgray;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@media screen and (min-width: 600px) {
  .btn {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.plates {
  background-color: #fff;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px #c2c2c2;
          box-shadow: 0 3px 8px #c2c2c2;
  padding: 0;
  position: relative;
  opacity: 0;
}

.plates__text {
  padding: 18px 0 15px 12px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: forward 3s 100ms linear;
  transition: forward 3s 100ms linear;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plates__text .plate_name {
  margin-bottom: 6px;
  font-size: 1.1rem;
  white-space: nowrap;
  font-weight: 600;
}

.plates__text p {
  font-size: 0.95rem;
  font-weight: 300;
  margin: 0;
  text-overflow: ellipsis;
}

.plates__price {
  color: #363636;
  bottom: 20px;
  font-weight: 700;
  right: 20px;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 3s 100ms linear;
  transition: -webkit-transform 3s 100ms linear;
  transition: transform 3s 100ms linear;
  transition: transform 3s 100ms linear, -webkit-transform 3s 100ms linear;
}

.plates .animation__checking {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99E2D0;
  width: 72px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 3s 100ms linear;
  transition: -webkit-transform 3s 100ms linear;
  transition: transform 3s 100ms linear;
  transition: transform 3s 100ms linear, -webkit-transform 3s 100ms linear;
}

.plates .animation__checking .anim_icon {
  font-size: 1.6rem;
  margin: auto;
  color: #fff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 3s 100ms linear;
  transition: -webkit-transform 3s 100ms linear;
  transition: transform 3s 100ms linear;
  transition: transform 3s 100ms linear, -webkit-transform 3s 100ms linear;
}

.plates:hover {
  cursor: pointer;
}

.plates :hover .plate_name, .plates p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

:hover .animation__checking {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

:hover .anim_icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

:hover .plates__price {
  -webkit-transform: translateX(72px);
          transform: translateX(72px);
}

@-webkit-keyframes menu-load {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes menu-load {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  50% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

:nth-of-type(1) {
  -webkit-animation: menu-load 800ms 200ms forwards;
          animation: menu-load 800ms 200ms forwards;
}

:nth-of-type(2) {
  -webkit-animation: menu-load 800ms 400ms forwards;
          animation: menu-load 800ms 400ms forwards;
}

:nth-of-type(3) {
  -webkit-animation: menu-load 800ms 600ms forwards;
          animation: menu-load 800ms 600ms forwards;
}

:nth-of-type(4) {
  -webkit-animation: menu-load 800ms 800ms forwards;
          animation: menu-load 800ms 800ms forwards;
}

.logo-image {
  height: 65px;
}

.logo-image__img {
  margin: auto;
  width: 165px;
}

@media screen and (min-width: 600px) {
  .logo-image__img {
    width: 215px;
  }
}

.header_pages {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6px;
  padding-right: 70px;
}

.header_pages a {
  color: #363636;
  width: 62px;
  height: 50%;
}

.header_pages a i {
  font-size: 1.8rem;
  margin: auto;
}

.header_pages h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  font-size: 1.9rem;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 600px) {
  .header_pages h1 {
    font-size: 2.4rem;
  }
}

footer {
  color: #fff;
  background-color: #363636;
  padding: 35px 23px 50px;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2rem;
  margin-bottom: 12px;
  font-weight: 400;
}

footer a {
  color: #fff;
  line-height: 1.8rem;
}

footer a i {
  width: 9px;
  margin-right: 10px;
  font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
  footer h3 {
    font-size: 1.5rem;
  }
  footer a {
    font-size: 1.1rem;
  }
  footer a i {
    font-size: 1rem;
  }
}

.presentation {
  text-align: center;
  background-color: whitesmoke;
  text-align: center;
  padding: 35px 45px 55px;
}

.presentation h2 {
  margin-bottom: 15px;
}

.presentation p {
  margin: 20px 0px 35px;
  font-weight: 300;
  font-size: 1.1rem;
}

@media screen and (min-width: 600px) {
  .presentation {
    font-size: 1.2rem;
  }
}

.placement {
  background-color: #e8e8e8;
  color: #363636;
  height: 52px;
  -webkit-box-shadow: inset 0 5px 4px -2px #cccccc;
          box-shadow: inset 0 5px 4px -2px #cccccc;
}

.placement i {
  margin-right: 10px;
}

.placement p {
  margin: auto;
}

@media screen and (min-width: 600px) {
  .placement {
    font-size: 1.2rem;
  }
}

.function {
  padding: 45px 20px 50px;
}

@media screen and (min-width: 600px) {
  .function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .function h2 {
    font-size: 2rem;
  }
  .function h2::before, .function h2::after {
    width: 80px;
    display: inline-block;
    height: 3px;
    vertical-align: middle;
    background-color: #9356DC;
    margin: 0 4px;
    content: "";
  }
}

.function h2 {
  margin-bottom: 35px;
}

.function .functions-tab {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .function .functions-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .function .functions-tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.function .step {
  width: 100%;
  margin-bottom: 20px;
  height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.function .step__number {
  background-color: #9356DC;
  color: #fff;
  width: 30px;
  height: 28px;
  border-radius: 1rem;
  font-size: 1rem;
  z-index: 2;
}

.function .step__number span {
  margin: auto;
}

.function .step__text {
  width: 100%;
  height: 100%;
  left: -13px;
  background-color: whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0 3px 8px #c2c2c2;
          box-shadow: 0 3px 8px #c2c2c2;
  position: relative;
}

.function .step__text i {
  width: 21px;
  margin: 0 25px 0 30px;
  color: #7D7D7D;
  font-size: 1.2rem;
}

.function .step__text:hover {
  background-color: #f2eafb;
}

.function .step__text:hover i {
  color: #9356DC;
}

@media screen and (min-width: 600px) {
  .function .step {
    width: 80%;
  }
  .function .step__number {
    font-size: 1.1rem;
  }
  .function .step__text {
    font-size: 1.2rem;
  }
  .function .step__text i {
    font-size: 1.4rem;
  }
}

.restaurants {
  background-color: whitesmoke;
  padding: 50px 20px 40px;
}

.restaurants h2 {
  margin-bottom: 24px;
}

@media screen and (min-width: 600px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurants .restaurants-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurants h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }
  .restaurants h2::before, .restaurants h2::after {
    content: "";
    display: inline-block;
    background-color: #9356DC;
    height: 2px;
    width: 75px;
    vertical-align: middle;
    margin: 0 10px;
  }
}

.resto-prev {
  overflow: hidden;
  height: 245px;
  border-radius: 1rem;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 3px 8px #c2c2c2;
          box-shadow: 0 3px 8px #c2c2c2;
}

.resto-prev__image {
  height: 70%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem 0rem 0rem;
}

.resto-prev__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.resto-prev__image .brand {
  background-color: #99E2D0;
  color: #32b091;
  top: 14px;
  padding: 6px 10px;
  right: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 3px;
  position: absolute;
}

.resto-prev__explanation {
  height: 30%;
  background-color: #fff;
}

.resto-prev__explanation .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  padding-left: 13px;
}

.resto-prev__explanation .text .Naming {
  margin: 0;
  font-weight: 700;
}

.resto-prev__explanation .text .Naming + p {
  font-weight: 300;
  margin: 0;
  font-size: 1rem;
}

.resto-prev__explanation .text-heart {
  width: 70px;
}

.resto-prev__explanation .text-heart .emptyHeart {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 150ms 50ms ease;
  transition: color 150ms 50ms ease;
}

.resto-prev__explanation .text-heart .emptyHeart:hover {
  color: transparent;
}

.resto-prev__explanation .text-heart .emptyHeart:hover > .fullHeart {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.resto-prev__explanation .text-heart .fullHeart {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out, -webkit-transform 150ms 50ms ease-in-out;
}

.resto-prev__explanation .text-heart .emptyHeart {
  margin: auto;
}

@media screen and (min-width: 600px) {
  .resto-prev {
    width: 49%;
  }
}

@media screen and (min-width: 1024px) {
  .resto-prev {
    height: 340px;
  }
  .resto-prev__image {
    height: 75%;
  }
  .resto-prev__explanation {
    height: 25%;
  }
}

.principal {
  background-color: #F5F5F5;
}

.picture {
  height: 240px;
}

.picture.palette_du_gout {
  background: url("../../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center/cover;
}

.picture.note_enchantee {
  background: url("../../images/stil-u2Lp8tXIcjw-unsplash.jpg") center/cover;
}

.picture.a_la_francaise {
  background: url("../../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center/cover;
}

.picture.delice_des_sens {
  background: url("../../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center/cover;
}

.choosing {
  background-color: #F5F5F5;
  padding: 35px 15px 35px;
  border-radius: 2rem 2rem 0 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.choosing h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1.9rem;
}

.choosing h3 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 30px 0px  0px;
  font-weight: 300;
}

.choosing h3::after {
  display: block;
  background-color: #99E2D0;
  width: 40px;
  margin-top: 5px;
  height: 3px;
  content: "";
}

.choosing_name {
  margin-right: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.choosing_name .emptyHeart {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: color 150ms 50ms ease;
  transition: color 150ms 50ms ease;
}

.choosing_name .emptyHeart:hover {
  color: transparent;
}

.choosing_name .emptyHeart:hover > .fullHeart {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.choosing_name .fullHeart {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: -webkit-transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out;
  transition: transform 150ms 50ms ease-in-out, -webkit-transform 150ms 50ms ease-in-out;
}

.choosing .btn {
  display: block;
  padding: 18px 50px;
  margin: auto;
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .choosing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .choosing .restaurant_name {
    width: 100%;
  }
  .choosing .menu {
    width: 32%;
  }
}
