

footer{
    color: $white;
    background-color: $dark-gray;
    padding: 35px 23px 50px;
    h3{
        font-family: 'Shrikhand', cursive;
        font-size: 1.2rem;
        margin-bottom: 12px;    
        font-weight: 400;
    }

    a{
        color: $white;
        line-height: 1.8rem;
        i{
            width: 9px;
            margin-right: 10px;
            font-size: 0.8rem;
        }
    }
    @include breakpoints(tablet){
        h3{
            font-size: 1.5rem;
        }
        a{
            font-size: 1.1rem;
            i{
                font-size: 1rem;
            }
        }
    }
}